@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;600&display=swap');

html.light {
  background: #F7F7F7;
  color: #444444;
}
html.dark {
  background: #111111;
  background: linear-gradient(148deg, #09090a 0%, #1c0d24 34%, #042336 66%, #040b1e 100%);
  color: #f7f7f7;
}
