@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Saira", sans-serif !important;
}
